Babel==2.1.1
Jinja2==2.8
Mako==1.0.2
MarkupSafe==0.23
Paste==2.0.2
PasteDeploy==1.5.2
PyYAML==3.11
Routes==2.2
SQLAlchemy==1.0.8
Tempita==0.5.2
WSME==0.8.0
WebOb==1.5.0
WebTest==2.0.18
aioeventlet==0.4
alembic==0.8.2
amqp==1.4.7
anyjson==0.3.3
argparse==1.2.1
beautifulsoup4==4.4.1
cachetools==1.1.3
cliff==1.15.0
cmd2==0.6.8
contextlib2==0.4.0
croniter==0.3.8
debtcollector==0.9.0
decorator==4.0.4
ecdsa==0.13
enum34==1.0.4
eventlet==0.17.4
fasteners==0.13.0
funcsigs==0.4
functools32==3.2.3-2
futures==3.0.3
futurist==0.7.0
greenlet==0.4.9
iso8601==0.1.10
jsonpatch==1.11
jsonpointer==1.9
jsonschema==2.5.1
kazoo==2.2.1
keystonemiddleware==2.4.1
kombu==3.0.28
logutils==0.3.3
mock==1.3.0
monotonic==0.4
msgpack-python==0.4.6
netaddr==0.7.18
netifaces==0.10.4
networkx==1.10
ordereddict==1.1
oslo.concurrency==2.7.0
oslo.config==2.5.0
oslo.context==0.7.0
oslo.db==3.0.0
oslo.i18n==2.7.0
oslo.log==1.12.1
oslo.messaging==2.5.0
oslo.middleware==2.9.0
oslo.serialization==1.10.0
oslo.service==0.10.0
oslo.utils==2.6.0
paramiko==1.15.3
pbr==1.8.1
pecan==1.0.3
ply==3.6
prettytable==0.7.2
psycopg2==2.6.1
pycadf==1.1.0
pycrypto==2.6.1
pyinotify==0.9.6
pyparsing==2.0.3
python-cinderclient==1.4.0
python-dateutil==2.4.2
python-editor==0.4
python-glanceclient==1.1.0
python-heatclient==0.8.0
python-keystoneclient==1.8.1
python-neutronclient==3.1.0
python-novaclient==2.31.0
python-swiftclient==2.6.0
pytz==2015.6
repoze.lru==0.6
requests==2.8.1
retrying==1.3.3
simplegeneric==0.8.1
simplejson==3.8.0
singledispatch==3.4.0.3
six==1.10.0
sqlalchemy-migrate==0.10.0
sqlparse==0.1.16
stevedore==1.9.0
tooz==1.24.0
trollius==2.0
unicodecsv==0.14.1
waitress==0.8.10
warlock==1.2.0
wrapt==1.10.5
wsgiref==0.1.2
yaql==1.0.2
zake==0.2.2
